{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}
{% endblock %}
{% block recursos %}
{% endblock recursos %}
{% block principal %}
    <div class="una-columna">
        <p style="margin-top:0">Has fotografiat un paisatge que t'agradaria ensenyar-nos? Creus que tens alguna foto que estigui en diàleg amb alguna de les obres d'aquesta exposició? Afegeix-hi el hashtag #relatpaisatge i entra al concurs per passar un cap de setmana a la nostra residència d'artistes a Amposta!</p>
        <h4>Contingut publicat a Instagram etiquetat amb #relatpaisatge</h4>
        {% for value in jsonData.data %}
            <div class="instagram-block">
                <a href="{{ value.link }}" target="_blank">
                    <img src="{{ value.images.low_resolution.url }}" alt="{% if value.caption %}{{ value.caption.text }}{% endif %}" width="193" height="193">
                </a>
                {% if value.user.profile_picture %}
                    <br/>
                    <img class="profile-picture" src="{{ value.user.profile_picture }}" alt="profile picture" width="42" height="42">
                {% endif %}
                <div class="instagram-block-text">
                    {% if value.user.full_name %}
                        <h5>{{ value.user.full_name }}</h5>
                    {% else %}
                        <h5>{{ value.user.username }}</h5>
                    {% endif %}
                    {% if value.likes.count %}
                        <img src="{{ asset('bundles/bellescosesfalsesmain/images/love.png') }}" alt="love icon"><span class="likes">{{ value.likes.count }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
