{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}
{% endblock %}
{% block recursos %}
{% endblock recursos %}
{% block principal %}
    {% if posts | length > 0 %}
        {% for post in posts %}
            <div class="una-columna">
                {% if post.image1 %}
                    <img src="{{ vich_uploader_asset(post, 'image1File') | imagine_filter('imatge380x380') }}" alt="{{ post.altImage1 }}" title="{{ post.titleImage1 }}">
                {% endif %}
                <h4>{{ post.title }}</h4>
            </div>
            <div class="columna-izq">
                <p>
                    {{ post.text1 | raw }}
                </p>
            </div>
            <div class="columna-der">
                <p>
                    {{ post.text2 | raw }}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div class="una-columna">
            <h5>Ho sentim, actualment no hi ha cap article disponible.</h5>
        </div>
    {% endif %}
{% endblock %}
