{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block titulo %}{% if page.metatitle %}{{ page.metatitle }} · {% endif %}{% endblock %}
{% block description %}{{ page.metadescription }}{% endblock %}
{% block recursos %}{% endblock recursos %}
{% block principal %}
    <div class="una-columna">
        {% if page.image1 %}
            <img src="{{ vich_uploader_asset(page, 'image1File') | imagine_filter('imatge380x380') }}" alt="{{ page.altImage1 }}" title="{{ page.titleImage1 }}">
        {% endif %}
        <h4>{{ page.title }}</h4>
    </div>
    <div class="columna-izq">
        <p>
            {{ page.text1 | raw }}
        </p>
    </div>
    <div class="columna-der">
        <p>
            {{ page.text2 | raw }}
        </p>
    </div>
{% endblock %}
